@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.App {
  background-color: white;
}

.App-header {
  text-align:center;
}

.App-link {
  color: #61dafb;
}

#home-main-text {
position: absolute; 
width: 628px;
height: 202px;
left: 80px;
top: 310px;

}

#home-main-text-top{
position: absolute;

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
}

#home-main-text-bottom {
position: absolute;

font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 75px;
  
color: #3B3F44;

}
